# Ignore all JSON and PDF files
*.json
*.pdf
.idea
# Keep specific files
!input/sample_base.json
!input/sample_two_column.json
!output/sample_base.pdf
!output/sample_two_column.pdf
__PYCACHE__
.DS_STORE
*.html
